@font-face {
	font-family: 'Roboto Bold';
	src: url('resources/data/fonts/Roboto-Bold.ttf');
}

body {
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	background: #000000;
	color: #ffffff;
	cursor: pointer;
	user-select: none;
}

#wall {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	background: #000;
}

.scaleable-wrapper {
	padding: 20px;
	resize: both;
	position: relative;
	background: #666;
	height: 400px;
}

.design-wrapper {
	text-align: center;
	background: white;
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	transform-origin: center center;
}

.ui-resizable-se {
	width: 10px;
	height: 10px;
	background: orange;
	position: absolute;
	bottom: 0;
	right: 0;
}

input[type=radio],
input[type=checkbox] {
    display: none;
}

input[type=radio] + label,
input[type=checkbox] + label {
    display: inline-block;
    margin: -2px;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #003588;
	border-radius: 15px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	color: #fff;
}

input[type=radio]:checked + label,
input[type=checkbox]:checked + label {
    background-image: none;
    outline: 0;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    background-color: #3355AA;
	color: #FFF;
}






















